<a href="https://colab.research.google.com/github/gustavoriz/HomePonto/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re

def generate_sql(query):
    # Alguns exemplos de templase +++ tenho que incluir outros e fazer as condicionais ainda
    table_pattern = re.compile(r'tabela[s]* ([A-Z]+)', re.IGNORECASE)
    columns_pattern = re.compile(r'traga as colunas (.*?) da tabela', re.IGNORECASE)
    column_table_pattern = re.compile(r'coluna[s]* (.*?) da tabela ([A-Z]+)', re.IGNORECASE)
    join_pattern = re.compile(r'cruze a tabela ([A-Z]+) com a tabela ([A-Z]+) pelo campo (.*?)\.', re.IGNORECASE)
    condition_pattern = re.compile(r'verifique se a coluna (.*?) é maior que (.*?)$', re.IGNORECASE)

    # Extracting tables
    tables = table_pattern.findall(query)

    # Extracting columns to be selected
    columns = columns_pattern.findall(query)

    # Extracting specific columns and their tables
    column_table_matches = column_table_pattern.findall(query)

    # Extracting join information
    join_match = join_pattern.search(query)

    # Extracting condition
    condition_match = condition_pattern.search(query)

    if tables and columns and column_table_matches and join_match and condition_match:
        table1, table2 = join_match.group(1), join_match.group(2)
        join_condition = join_match.group(3)
        condition_column, condition_value = condition_match.group(1), condition_match.group(2)

        columns_table1 = columns[0].split(', ')
        columns_table2 = [match[0] for match in column_table_matches if match[1].upper() == table2.upper()]

        # Constructing the SQL query
        sql_query = f"SELECT {', '.join(['A.' + col.strip() for col in columns_table1])}, {', '.join(['B.' + col.strip() for col in columns_table2])}\n"
        sql_query += f"FROM {table1} AS A\n"
        sql_query += f"INNER JOIN {table2} AS B\n"
        sql_query += f"ON A.{join_condition} = B.{join_condition}\n"
        sql_query += f"WHERE B.{condition_column.strip()} > {condition_value.strip()};"

        return sql_query
    else:
        return "Query format not recognized."

# Exemplo de uso
query = """traga as colunas NOME, SOBRENOME, TELEFONE, EMAIL, RG, ENDERECO da tabela CLIENTES e
      coluna CONTRATO da tabela CONTRATOS. Cruze a tabela CLIENTES com a tabela CONTRATOS pelo campo CPF.
      Verifique se a coluna CONTRATO é maior que 2000"""
sql = generate_sql(query)
print(sql)

SELECT A.NOME, A.SOBRENOME, A.TELEFONE, A.EMAIL, A.RG, A.ENDERECO, B.CONTRATO
FROM CLIENTES AS A
INNER JOIN CONTRATOS AS B
ON A.CPF = B.CPF
WHERE B.CONTRATO > 2000;